:root {
  --vp-c-brand-1: #B26645;
  --vp-c-brand-2: #9d5a3d;
}

:root {
  /* name颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #B26645 10%, #9d5a3d 100%);

  /* brand颜色 */
  --vp-button-brand-bg: #B26645;
}

/* 图片样式 */
img{
  border-radius: 0.1rem;
}

/* 文本样式 */
.vp-doc h1 {
  font-size: 37px;
}
.vp-doc h2 {
  font-size: 27px;
}
.vp-doc h3 {
  font-size: 23px;
}